<!-- Creating the Join room layout  -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="logo">
            <span class="header_class">Video Chat</span>
        </div>
    </div>
    <div class="form_style form-group mx-sm-3 mb-2 row align-items-center">
        <div class="container common">
            <div class="first_image_tag">
                <img src="images/main_image.png" alt="" srcset=""><br>
                <span class="intro_text">Join Meeting</span>
            </div>
            <div class="all_input">
                <form action="/join" method="post">
                    <p> <input type="text" id="login" class="sr-only col-sm-8" name="roomName" placeholder="Room Name"><br></p>
                    <p> <input type="text" id="password" class="sr-only col-sm-8" name="userName" placeholder="User Name"><br></p>
                    <p> <button type="submit" class="btn btn-primary col-sm-2" value="Join">Join</button></p>
                </form>
            </div>
        </div>
        <div class="common_2">
            <img class="image_tag" src="images/join_image.png" alt="">
        </div>
    </div>
</body>

</html>