<!-- Creating the Meeting room layout  -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <link rel="stylesheet" href="/style.css">
    <script src="script.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Video Chat App</title>
    <script>
        const ROOM_ID = "<%= (roomID) %>";
    </script>
</head>

<body>
    <div class="main">
        <div class="row__left">
            <div class="header">
                <div class="logo">
                    <span class="header_class">Video Chat</span>
                </div>
            </div>
            <div id="video-grid"></div>
            <div class="options">
                <div id="stopVideo" class="options__button">
                    <i class="fa fa-video-camera" title="Stop Video"></i>
                </div>
                <div id="muteButton" class="options__button">
                    <i class="fa fa-microphone" title="Mute"></i>
                </div>
                <div id="inviteButton" class="options__button">
                    <i class="fas fa-user-plus" title="Invite"></i>
                </div>
                <div id="ExitButton" class="options__button_new">
                    <i class="fa fa-phone fa-flip-horizontal" title="Exit"></i>
                </div>
            </div>

        </div>
        <div class="chat-grid" style="background-color: whitesmoke;">
            <div class="row__right">
                <h3 class="chat_box">Chat</h3>
                <h5 class="greet">Welcome to
                    <%= (roomID) %>
                </h5>
                <ul class="chatMessages"></ul>
                <input class="input_msg" type="text" placeholder="Type a message...." />
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</html>