@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    overflow-x: hidden;
    background: linear-gradient(90deg, #4e4e86, #655dbb, #4438b2);
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.row__left {
    width: 80%;
}

.first_image_tag {
    text-align: center;
}

::placeholder {
    padding: 2px;
    position: absolute;
    left: 15px;
}

.container-fluid {
    margin-top: 50px;
}

.intro_text {
    font-size: 25px;
    color: white
}

.image_tag {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.all_input {
    margin-top: 2vw;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video {
    height: 220px;
    width: 320px;
    object-fit: cover;
    padding: 6px;
}

.logo span {
    font-size: 5vh;
    font-weight: 500;
}

.heading {
    text-align: center;
    text-shadow: 2px 2px 2px rgb(144 144 144)
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: relative;
    width: 100%;
}

.header_class {
    font-size: 5vh;
    text-shadow: 2px 2px 2px rgb(144 144 144)
}

.logo {
    color: #eeeeee;
}

.after_effect {
    color: red;
}

.options {
    width: 80%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.style_leave {
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin: auto;
    width: 30%;
    margin-top: 2%;
    border: 4px solid black;
}

p {
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}

.options__left {
    display: flex;
    justify-content: center;
}

.form_style {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.common_2 {
    width: 60%;
    float: left;
}

.common {
    width: 40%;
}

.options__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 50px;
    border-radius: 50%;
    color: #eeeeee;
    font-size: 1.2rem;
    width: 50px;
    margin: 0 0.5rem;
}

.greet {
    text-align: center;
}

.options__button_new {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 0, 0);
    height: 50px;
    border-radius: 50%;
    color: #eeeeee;
    font-size: 1.2rem;
    width: 50px;
    margin: 0 0.5rem;
}

.chat-grid {
    margin-right: 0%;
    width: 20%;
    height: 99.85vh;
    align-items: center;
    overflow-y: scroll;
}

.input_msg {
    outline-width: 0;
    width: 100%;
    border: none;
    border-top: 1px solid black;
    padding: 10px;
    flex: 1;
    align-items: center;
    scroll-behavior: auto;
    position: fixed;
    bottom: 0;
    overflow-wrap: break-word;
}

.chat_box {
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
}

.chatMessages {
    overflow-wrap: break-word;
}